@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Oswald&display=swap');
:root {
  --font-color: black;
  font-family: 'Oswald', sans-serif;
  background-color: #B9EDFD;
}

header h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 3rem;
  margin: 1.5rem 0;
  text-align: center;
  /*text-transform: uppercase;
  color: var(--accent-color);*/
}

header {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

header #snake {
  margin: 2rem 0;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: var(--font-color);
  text-transform: uppercase;
}

nav a:hover {
  color: blue;
}

.foto-1 {
  text-align: center;
}

.profile_clinic div {
  display: inline-block;
  margin: 4px 40px;
}

.upper_footer {
  display: flex;
  justify-content: space-around;
  border-style: solid none;
}

.upper_footer img {
  height: 40px;
  margin: 4px;
}

footer, .hh3 {
  text-align: center;
}

#snake-footer {
  margin: 3rem 2rem;
}

.price {
  text-align: center;
  column-count: 2;
}